<div id="top-nav">
    <h1>This is Your ToDo index</h1>
    <form method="POST" action="/create" >
        <input type="text" name="title" value="" />
        <button type="submit">Add new ToDo</button>
    </form>
</div>